*{
    box-sizing: border-box;
    
}
.nav-m{
    font-size:1.1rem;
    text-align: center;
     color:whitesmoke;
    margin:0;
    padding-top:5px;
}
.nav-m-s{
    color:whitesmoke;
    opacity:0.6;
    text-align: center;
    margin:0 5px;
    text-wrap: nowrap;
    padding-bottom:5px;
}
.home-l{
    margin-top:5px;
    display:flex;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    background-color:#AE0E36FF;
    padding-left:5px;
    border-radius: 12px;
    color:whitesmoke;
    font-weight: 900;
    box-shadow: 2px 0px 2px 2px rgb(219, 203, 182);
}
.home-i{
    width:20px;
    margin-top: 0px;
    display: block;
   
}
.home-i-h4{
    padding:0 10px;
}
.nav-flex{
    display:flex;
    font-weight: 900;
    font-size:1.02em;
    box-shadow: 2px 0px 2px 2px rgba(233, 103, 205, 0.616);
   border-radius: 12px;
}
.o-search-c{
    display:flex;
    border-radius:12px;
    justify-content: center;
    align-items: center;
   margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    background-color:#AE0E36FF;
    box-shadow: 2px 0px 2px 2px rgb(219, 203, 182);
}
.search-c:nth-child(2),.search-c:nth-child(3){
   border-right:2px solid;
   padding:0 10px;
  
}
.search-c:nth-child(2){
    border-left:2px solid;
}
.search-c{
    margin:0;
    cursor: pointer;
}
.search-c:hover{
    background-color: rgb(16, 133, 141);
    border-radius:10px;
}
.home-i-i{
    width:25px;
    border-radius: 50%;
    padding:0;
    margin:0;
    display:block;
}
.home-i-b{
    margin:5px;
   
    
   border:none;
  background-color: transparent;
    cursor: pointer;
   display:inline-flex;
   
}
.home-i-b-d{
    padding:8px;
}
.home-i-b-d:hover{
    background-color: rgb(16, 133, 141);
    border-radius:10px;
    
}
.user-png{
    width:50px;
    margin:10px 5px;
    padding:0;
    display:block;
}
.user-png-m{
    box-shadow: 2px 0px 2px 2px rgb(206, 179, 179);
    border-radius: 12px;
    margin-left:auto;
    padding:0;
    margin-top:5px;
    min-height:45px;
    display:flex;
    flex-direction: row;
    gap:2px;
    background-color:#AE0E36FF;
}
.user-profile{
    margin:10px 5px;
    font-size: 1.1em;
}
/* Accounts */
.account-h{
    width:100%;
    margin-top:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.account-l{
    display:inline-flex;
    padding:15px 10px;
    flex-direction: row;
    margin:20px 10px;
    border-radius: 50px;
    background-color: rgba(26, 24, 25, 0.836);
    box-shadow: 1.5px 0px 2px 2px rgb(37, 22, 32);
    font-size: 1.2em;
    font-weight: 900;
    color:antiquewhite
}

.account-l:active{
    box-shadow: 1.5px 0px 2px 2px rgb(43, 2, 27);
}
.log-out{
    width:100%;
    padding:10px;
    background-color: crimson;
    border:none;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: 900;
    color:beige;
}
.profile-png{
    width:30px;
    height:22px;
    display:inline-block;
   padding-right:5px;
}
/* ACCOMODATION */
.new-place{
    padding:15px 30px;
    background-color: crimson;
    border:none;
    font-size: 1.2em;
    font-weight: 900;
    color:beige;
    border-radius: 50px;
    cursor:pointer;
}
.new-p-b{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.make-btn{
    cursor:pointer;
}
.input-place{
    width:90%;
    margin:0px 20px;
    padding:10px;
}
.button-g{
    padding:20px;
    margin:5px;
    font-size: 2rem;
}
.textarea{
    width:100%;
    height:200px;
}
.check-box{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:5px;
}
.label-a{
    padding:15px;
    cursor: pointer;
    box-shadow: 2px 0px 2px 2px rgba(228, 169, 169, 0.733);
}
.check-i-o h5{
    margin:5px;
}
.place-form h2{
    margin:0px;
    margin-top:5px;
    padding:0;
}
.place-form p{
    margin: 5px;
}
.place-form input{
    display:block;
    margin-bottom:10px;
}
.link-img{
    width:200px;
    border-radius: 12px;
    display:block;
    margin:5px;
    object-fit: cover;
    aspect-ratio: 4/4;
    box-shadow:2px 0px 2px 2px rgba(0, 255, 191, 0.5);
}
.link-img-div{
    width:200px;
    height:150px;
    position:relative;
}
.link-img-del{
position:absolute;
z-index: 1;
bottom:0;
right:0;
margin:5px;
background-color: rgb(235, 215, 215);

}
.link-img-del:active{
    box-shadow:2px 0px 2px 2px red;
    background-color: red;
}
.link-img-d{
    display:flex;
    gap:5px;
}
.link-img-m{
    position:absolute;
    left:0;
    bottom:0;
    background-color: aliceblue;
    margin:5px;
    padding:2px;
}
.link-img-m:active{
    box-shadow:2px 0px 2px 2px red;
    background-color: red;
}
/* Home */
.g-places{
    width:220px;
    box-shadow: 2px 0px 1.75px 2px rgb(226, 42, 165);
    background-color:#AE0E36FF;
    border-radius: 12px;
    margin:5px;
    padding:5px;
}
.g-places .g-places-i{
    margin:1px 5px;
    padding:1px;
   text-align: end;
   text-wrap: nowrap;
   white-space:0;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 900;
}

.m-f-p{
    display:flex;
    gap:5px;
}